In [130]:
import pandas as pd
import numpy as np
import csv
import re
from bs4 import BeautifulSoup
import camelot 

# from tabula import read_pdf
# from tabulate import tabulate
# from itertools import chain
# import matplotlib as plt


%matplotlib inline
%config InlineBackend.figure_format='retina'
# If encounter SSL certify error - go to your Python 3.x.x folder and install Certification

In [222]:
csv = pd.read_csv('farm_smoke.csv')
sonoma_data = csv.query('County == "Sonoma" and Year >= 2015').copy().reset_index(drop=True)
sonoma_data

   County  Year                                              Links
0  Sonoma  2021  https://sonomacounty.ca.gov//Main%20County%20S...
1  Sonoma  2020  https://sonomacounty.ca.gov//Main%20County%20S...
2  Sonoma  2019  https://sonomacounty.ca.gov//Main%20County%20S...
3  Sonoma  2018  https://sonomacounty.ca.gov//Main%20County%20S...
4  Sonoma  2017  https://sonomacounty.ca.gov//Main%20County%20S...
5  Sonoma  2016  https://sonomacounty.ca.gov//Main%20County%20S...
6  Sonoma  2015  https://sonomacounty.ca.gov//Main%20County%20S...

In [230]:
urls = sonoma_data['Links']
urls

0    https://sonomacounty.ca.gov//Main%20County%20S...
1    https://sonomacounty.ca.gov//Main%20County%20S...
2    https://sonomacounty.ca.gov//Main%20County%20S...
3    https://sonomacounty.ca.gov//Main%20County%20S...
4    https://sonomacounty.ca.gov//Main%20County%20S...
5    https://sonomacounty.ca.gov//Main%20County%20S...
6    https://sonomacounty.ca.gov//Main%20County%20S...
Name: Links, dtype: object

In [238]:
# Note 1: 2021 - 2017 can work together 
# Note 2: 2016 - format diff, have -- and ' .' formating, top 12 reds 
# Note 3: 2015 - top 12 reds
# Note 4: 2014 

table_list = []
for link, year in zip(urls, sonoma_data['Year']):
    page = '12'
    if year == 2017:
        page = '10'
    elif year == 2016 or year == 2013 or year == 2011:
        page = '8'
    elif year == 2014 or year == 2012:
        page = '7'
    # utilize camelot to read pdf file at page 12, 
    # capture precisely with stream and close up the row gap with row_tol = 10

    tables = camelot.read_pdf(link, pages=page, flavor='stream', row_tol=10)[0].df
    display(tables)
    table_list.append(tables)

,0,1,2,3,4,5,6,7
0,,,TOP 13 BY VALUE - LISTED ALPHABETICALLY,,,,,
1,,,,Acreage,,,Production,
2,Varietal,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
3,Cabernet Franc,2021,552.0,33.0,585.0,"1,150.4","$3,866.85","$4,448,400"
4,,2020,557 0,29 0,586 0,942 4,"$3,534 95","$3,331,300"
5,Cabernet,2021,"12,293.0",429.0,"12,722.0","41,114.6","$2,728.69","$112,189,000"
6,Sauvignon,2020,"12,089 0",631 0,"12,720 0","31,137 9","$2,460 15","$76,603,900"
7,Carignane,2021,156.0,2.0,158.0,280.7,"$2,633.52","$739,200"
8,,2020,158 0,6 0,164 0,257 9,"$2,447 30","$631,200"
9,Grenache,2021,211.0,55.0,266.0,898.4,"$3,101.70","$2,786,600"
10,,2020,203 0,58 0,261 0,751 7,"$2,509 56","$1,886,400"
11,Malbec,2021,422.0,26.0,448.0,"1,577.2","$3,081.97","$4,860,900"
12,,2020,414 0,16 0,430 0,"1,004 8","$2,643 18","$2,655,900"
13,Mataro/,2021,71.0,11.0,82.0,179.1,"$3,176.28","$568,900"
14,Mouvedere,2020,65 0,8 0,73 0,108 3,"$2,874 98","$311,400"
15,Merlot,2021,"4,140.0",17.0,"4,157.0","7,828.5","$1,961.32","$15,354,200"
16,,2020,"4,175 0",17 0,"4,192 0","5,652 8","$1,589 61","$8,985,700"
17,Petite Sirah,2021,651.0,26.0,677.0,"2,163.9","$2,996.48","$6,484,100"
18,,2020,641 0,42 0,683 0,"1,622 1","$2,706 91","$4,390,900"
19,,2021,242.0,6.0,248.0,983.1,"$3,536.74","$3,477,000"
20,Petit Verdot,2020,244 0,7 0,251 0,494 6,"$3,184 33","$1,575,000"
21,Pinot Noir,2021,"12,608.0",265.0,"12,873.0","48,496.5","$3,512.27","$170,332,800"
22,,2020,"12,516 0",497 0,"13,013 0","29,263 7","$3,146 85","$92,088,500"
23,,2021,278.0,4.0,282.0,879.7,"$2,493.41","$2,193,500"
24,Sangiovese,2020,279 0,4 0,283 0,398 9,"$2,364 77","$943,300"
25,Syrah-Shiraz,2021,"1,326.0",34.0,"1,360.0","2,450.6","$2,871.85","$7,037,800"
26,,2020,"1,352 0",29 0,"1,381 0","1,581 5","$2,472 14","$3,909,700"
27,Zinfandel,2021,"4,613.0",116.0,"4,729.0","11,660.0","$3,113.73","$36,306,100"
28,,2020,"4,654 0",105 0,"4,759 0","8,397 0","$2,624 37","$22,036,800"
29,TOTAL ALL REDS,2021,"38,128.0","1,056.0","39,184.0","121,693.0","$3,060.13","$372,396,400"
30,including other reds,2020,"37,916 0","1,493 0","39,409 0","82,910 2","$2,651 92","$219,871,200"

,0,1,2,3,4,5,6,7
0,,,TOP 13 BY VALUE - LISTED ALPHABETICALLY,,,,,
1,,,,Acreage,,,Production,
2,Varietal,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
3,Cabernet Franc,2020,557.0,29.0,586.0,942.4,"$3,534.95","$3,331,300"
4,,2019,562.0,13.0,575.0,"1,533.4","$3,815.93","$5,851,300"
5,Cabernet,2020,"12,089.0",631.0,"12,720.0","31,137.9","$2,460.15","$76,603,900"
6,Sauvignon,2019,"12,082.0",539.0,"12,621.0","45,948.3","$3,055.93","$140,414,800"
7,Carignane,2020,158.0,6.0,164.0,257.9,"$2,447.30","$631,200"
8,,2019,170.0,6.0,176.0,416.5,"$2,591.56","$1,079,400"
9,Grenache,2020,203.0,58.0,261.0,751.7,"$2,509.56","$1,886,400"
10,,2019,183.0,43.0,226.0,806.1,"$3,203.49","$2,582,300"
11,Malbec,2020,414.0,16.0,430.0,"1,004.8","$2,643.18","$2,655,900"
12,,2019,416.0,22.0,438.0,"1,863.0","$3,041.79","$5,666,900"
13,Mataro/,2020,65.0,8.0,73.0,108.3,"$2,874.98","$311,400"
14,Mouvedere,2019,63.0,10.0,73.0,182.8,"$3,455.43","$631,700"
15,Merlot,2020,"4,175.0",17.0,"4,192.0","5,652.8","$1,589.61","$8,985,700"
16,,2019,"4,346.0",47.0,"4,393.0","12,312.3","$2,000.15","$24,626,400"
17,Petite Sirah,2020,641.0,42.0,683.0,"1,622.1","$2,706.91","$4,390,900"
18,,2019,635.0,21.0,656.0,"2,628.3","$3,154.98","$8,300,000"
19,Petit Verdot,2020,244.0,7.0,251.0,494.6,"$3,184.33","$1,575,000"
20,,2019,249.0,4.0,253.0,"1,025.0","$3,403.84","$3,500,000"
21,Pinot Noir,2020,"12,516.0",497.0,"13,013.0","29,263.7","$3,146.85","$92,088,500"
22,,2019,"12,509.0",585.0,"13,094.0","47,178.3","$3,949.20","$186,316,500"
23,Sangiovese,2020,279.0,4.0,283.0,398.9,"$2,364.77","$943,300"
24,,2019,279.0,1.0,283.0,993.4,"$2,576.02","$2,559,000"
25,Syrah-Shiraz,2020,"1,352.0",29.0,"1,381.0","1,581.5","$2,472.14","$3,909,700"
26,,2019,"1,396.0",12.0,"1,408.0","3,334.3","$2,811.92","$9,400,000"
27,Zinfandel,2020,"4,654.0",105.0,"4,759.0","8,397.0","$2,624.37","$22,036,800"
28,,2019,"4,758.0",50.0,"4,808.0","14,817.7","$3,143.05","$46,572,800"
29,TOTAL ALL REDS,2020,"37,916.0","1,493.0","39,409.0","82,910.2","$2,651.92","$219,871,200"
30,including other reds,2019,"38,212.0","1,404.0","39,616.0","135,051.7","$3,254.92","$439,582,500"

,0,1,2,3,4,5,6,7
0,,,TOP 13 BY VALUE - LISTED ALPHABETICALLY,,,,,
1,,,,Acreage,,,Production,
2,Varietal,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
3,Cabernet Franc,2019,562.0,13.0,575.0,"1,533.4","$3,815.93","$5,851,300"
4,,2018,565.0,10.6,575.6,"1,832.6","$3,567.17","$6,537,200"
5,Cabernet,2019,"12,082.0",539.0,"12,621.0","45,948.3","$3,055.93","$140,414,800"
6,Sauvignon,2018,"12,505.1",642.3,"13,147.4","56,948.2","$3,113.75","$177,322,500"
7,Carignane,2019,170.0,6.0,176.0,416.5,"$2,591.56","$1,079,400"
8,,2018,162.7,9.7,172.4,406.9,"$2,654.55","$1,080,100"
9,Grenache,2019,183.0,43.0,226.0,806.1,"$3,203.49","$2,582,300"
10,,2018,150.2,12.1,162.3,929.0,"$3,025.64","$2,810,800"
11,Malbec,2019,416.0,22.0,438.0,"1,863.0","$3,041.79","$5,666,900"
12,,2018,536.0,9.3,545.3,"2,695.1","$2,894.42","$7,800,800"
13,Mataro/,2019,63.0,10.0,73.0,182.8,"$3,455.43","$631,700"
14,Mouvedere,2018,40.6,0.9,41.5,216.4,"$3,236.82","$700,400"
15,Merlot,2019,"4,346.0",47.0,"4,393.0","12,312.3","$2,000.15","$24,626,400"
16,,2018,"3,940.8",10.2,"3,951.0","15,492.0","$1,961.96","$30,394,700"
17,Petite Sirah,2019,635.0,21.0,656.0,"2,628.3","$3,154.98","$8,300,000"
18,,2018,685.3,2.0,687.3,"2,954.5","$3,088.27","$9,124,300"
19,Petit Verdot,2019,249.0,4.0,253.0,"1,025.0","$3,403.84","$3,500,000"
20,,2018,284.3,18.6,302.9,"1,324.8","$3,336.84","$4,420,600"
21,Pinot Noir,2019,"12,509.0",585.0,"13,094.0","47,178.3","$3,949.20","$186,316,500"
22,,2018,"13,383.6",880.0,"14,263.6","58,005.2","$3,802.05","$220,538,700"
23,Sangiovese,2019,279.0,1.0,280.0,993.4,"$2,576.02","$2,559,000"
24,,2018,211.4,0.0,211.4,"1,070.2","$2,477.26","$2,651,200"
25,Syrah-Shiraz,2019,"1,396.0",12.0,"1,408.0","3,334.3","$2,811.92","$9,400,000"
26,,2018,"1,557.8",3.7,"1,561.5","3,966.9","$2,773.75","$11,003,200"
27,Zinfandel,2019,"4,758.0",50.0,"4,808.0","14,817.7","$3,143.05","$46,572,800"
28,,2018,"4,946.6",24.4,"4,971.0","15,730.6","$3,102.26","$48,800,400"
29,TOTAL ALL REDS,2019,"38,212.0","1,404.0","39,616.0","135,051.7","$3,254.92","$439,582,500"
30,including other reds,2018,"39,842.0","1,956.4","41,798.4","163,575.2","$3,227.84","$527,994,600"

,0,1,2,3,4,5,6,7
0,,,TOP 13 BY VALUE - LISTED ALPHABETICALLY,,,,,
1,,,,Acreage,,,Production,
2,Varietal,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
3,Cabernet Franc,2018,565.0,10.6,575.6,"1,832.6","$3,567.17","$6,537,200"
4,,2017,565.0,35.6,600.6,"1,382.4","$3,335.31","$4,610,700"
5,Cabernet,2018,"12,505.1",642.3,"13,147.4","56,948.2","$3,113.75","$177,322,500"
6,Sauvignon,2017,"12,530.9",530.4,"13,061.3","43,157.9","$3,071.98","$132,580,200"
7,Carignane,2018,162.7,9.7,172.4,406.9,"$2,654.55","$1,080,100"
8,,2017,162.7,0.0,162.7,260.4,"$2,665.76","$694,200"
9,Grenache,2018,150.2,12.1,162.3,929.0,"$3,025.64","$2,810,800"
10,,2017,153.8,8.0,161.8,854.7,"$3,076.99","$2,630,000"
11,Malbec,2018,536.0,9.3,545.3,"2,695.1","$2,894.42","$7,800,800"
12,,2017,536.0,11.3,548.3,"1,700.8","$2,953.95","$5,024,100"
13,Mataro/,2018,40.6,0.9,41.5,216.4,"$3,236.82","$700,400"
14,Mouvedere,2017,41.6,0.9,42.5,158.2,"$2,895.20","$458,000"
15,Merlot,2018,"3,940.8",10.2,"3,951.0","15,492.0","$1,961.96","$30,394,700"
16,,2017,"3,978.8",22.6,"4,001.4","11,611.1","$1,922.95","$22,327,400"
17,Petite Sirah,2018,685.3,2.0,687.3,"2,954.5","$3,088.27","$9,124,300"
18,,2017,688.8,4.2,693.0,"2,536.3","$2,905.75","$7,370,000"
19,Petit Verdot,2018,284.3,18.6,302.9,"1,324.8","$3,336.84","$4,420,600"
20,,2017,284.3,9.9,294.2,915.6,"$3,156.58","$2,890,200"
21,Pinot Noir,2018,"13,383.6",880.0,"14,263.6","58,005.2","$3,802.05","$220,538,700"
22,,2017,"13,414.3",423.8,"13,838.1","43,439.1","$3,912.46","$169,953,700"
23,Sangiovese,2018,211.4,0.0,211.4,"1,070.2","$2,477.26","$2,651,200"
24,,2017,316.5,0.0,316.5,916.8,"$2,400.63","$2,200,900"
25,Syrah-Shiraz,2018,"1,557.8",3.7,"1,561.5","3,966.9","$2,773.75","$11,003,200"
26,,2017,"1,571.7",8.5,"1,580.2","3,216.5","$2,779.67","$8,940,800"
27,Zinfandel,2018,"4,946.6",24.4,"4,971.0","15,730.6","$3,102.26","$48,800,400"
28,,2017,"4,976.9",16.9,"4,993.9","12,874.5","$3,006.42","$38,706,200"
29,TOTAL ALL REDS,2018,"39,842.0","1,956.4","41,798.4","163,575.2","$3,227.84","$527,994,600"
30,including other reds,2017,"39,996.5","1,658.8","41,655.3","124,787.5","$3,219.57","$401,762,100"

,0,1,2,3,4,5,6,7
0,,,,TOP 13 BY VALUE - LISTED ALPHABETICALLY,,,,
1,,,,Acreage,,,Production,
2,Varietal,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
3,Cabernet Franc,2017,565.0,35.6,600.6,"1,382.4","$3,335.31","$4,610,700"
4,,2016,578 5,28 5,607 0,"1,382 5","$2,955 14","$4,085,500"
5,Cabernet,2017,"12,530.9",530.4,"13,061.3","43,157.9","$3,071.98","$132,580,200"
6,Sauvignon,2016,"12,456 7",560 0,"13,016 7","41,575 7","$2,964 60","$123,255,300"
7,,2017,162.7,0.0,162.7,260.4,"$2,665.76","$694,200"
8,Carignane,2016,162 7,0 0,162 7,305 8,"$2,195 62","$671,500"
9,Grenache,2017,153.8,8.0,161.8,854.7,"$3,076.99","$2,630,000"
10,,2016,152 7,3 6,156 3,739 7,"$2,995 16","$2,215,500"
11,Malbec,2017,536.0,11.3,548.3,"1,700.8","$2,953.95","$5,024,100"
12,,2016,551 5,4 7,556 2,"2,960 5","$2,629 78","$7,785,500"
13,Mataro/,2017,41.6,0.9,42.5,158.2,"$2,895.20","$458,000"
14,Mouvedere,2016,41 6,0 9,42 5,771 5,"$2,119 36","$1,635,100"
15,,2017,"3,978.8",22.6,"4,001.4","11,611.1","$1,922.95","$22,327,400"
16,Merlot,2016,"4,115 7",24 6,"4,140 3","13,761 0","$1,818 10","$25,018,900"
17,Petite Sirah,2017,688.8,4.2,693.0,"2,536.3","$2,905.75","$7,370,000"
18,,2016,694 5,4 2,698 7,"3,266 3","$2,797 89","$9,138,700"
19,Petit Verdot,2017,284.3,9.9,294.2,915.6,"$3,156.58","$2,890,200"
20,,2016,278 3,16 5,294 8,"1,332 0","$2,976 71","$3,965,000"
21,Pinot Noir,2017,"13,414.3",423.8,"13,838.1","43,439.1","$3,912.46","$169,953,700"
22,,2016,"13,343 1",385 2,"13,728 3","42,566 3","$3,680 50","$156,665,300"
23,,2017,316.5,0.0,316.6,916.8,"$2,400.63","$2,200,900"
24,Sangiovese,2016,316 9,0 0,316 9,"1,091 1","$2,314 48","$2,525,300"
25,Syrah-Shiraz,2017,"1,571.7",8.5,"1,580.2","3,216.5","$2,779.67","$8,940,800"
26,,2016,"1,575 6",13 5,"1,589 1","3,618 1","$2,596 01","$9,392,600"
27,Zinfandel,2017,"4,976.9",16.9,"4,993.9","12,874.5","$3,006.42","$38,706,200"
28,,2016,"5,070 5",20 0,"5,090 5","15,287 7","$2,840 06","$43,418,000"
29,TOTAL ALL REDS,2017,"39,996.5","1,658.8","41,655.3","124,787.5","$3,219.57","$401,762,100"
30,including other reds,2016,"39,821 4","1,342 0","41,163 5","130,589 3","$3,008 75","$392,910,600"

,0,1,2,3,4,5,6,7
0,,,Acreage,,,,Production,
1,Varietal,Year,Non-Bearing,Bearing,Total,Tons,$/Tons,Total Value
2,,2016,385.2,"13,343.1","13,728.3","42,566.3","$3,680.50","$156,665,300"
3,Pinot Noir,2015,750 .0,"12,850 .8","13,600 .8","30,667 .2","$3,525 .42","$108,114,800"
4,Cabernet,2016,560.0,"12,456.7","13,016.7","41,575.7","$2,964.60","$123,255,300"
5,Sauvignon,2015,"1,014 .7","11,808 .8","12,823 .5","32,947 .3","$2,724 .17","$89,754,100"
6,,2016,20.0,"5,070.5","5,090.5","15,287.7","$2,840.06","$43,418,000"
7,Zinfandel,2015,85 .1,"4,988 .3","5,073 .4","13,070 .9","$2,711 .07","$35,436,200"
8,,2016,24.6,"4,115.7","4,140.3","13,761.0","$1,818.10","$25,018,900"
9,Merlot,2015,43 .4,"4,108 .2","4,151 .6","12,031 .4","$1,717 .25","$20,661,000"
10,,2016,13.5,"1,575.6","1,589.1","3,618.1","$2,596.01","$9,392,600"
11,Syrah - Shiraz,2015,15 .5,"1,569 .8","1,585 .3","2,848 .1","$2,525 .16","$7,192,000"
12,,2016,4.2,694.5,698.7,"3,266.3","$2,797.89","$9,138,700"
13,Petite Sirah,2015,50 .4,645 .6,696 .0,"2,347 .4","$2,715 .79","$6,375,100"
14,,2016,4.7,551.5,556.2,"2,960.5","$2,629.78","$7,785,500"
15,Malbec,2015,12 .9,540 .5,553 .4,"1,896 .3","$2,636 .24","$4,999,200"
16,Cabernet Franc,2016,28.5,578.5,607.0,"1,382.5","$2,955.14","$4,085,500"
17,,2015,34 .3,569 .9,604 .2,"1,357 .8","$2,794 .59","$3,794,400"
18,Petit Verdot,2016,16.5,278.3,294.8,"1,332.0","$2,976.71","$3,965,000"
19,,2015,25 .7,266 .2,291 .9,953 .4,"$2,719 .87","$2,593,200"
20,Sangiovese/,2016,--,316.9,316.9,"1,091.1","$2,314.48","$2,525,300"
21,Sangioveto,2015,--,211 .3,211 .3,929 .3,"$2,244 .27","$2,085,700"
22,Grenache,2016,3.6,152.7,156.3,739.7,"$2,995.16","$2,215,500"
23,,2015,3 .7,146 .4,150 .1,567 .4,"$2,901 .69","$1,646,500"
24,Mataro/,2016,0.9,41.6,42.5,771.5,"$2,119.36","$1,635,100"
25,Mourvedere (a),2015,--,--,--,149 .7,"$3,082 .19","$461,400"
26,TOTAL REDS,2016,"1,342.0","39,821.4","41,163.5","130,589.3","$3,008.75","$392,910,600"
27,including other reds,2015,"2,679 .1","38,917 .8","41,596 .9","101,800 .1","$2,819 .84","$287,060,000"

,0,1,2,3,4,5,6,7
0,,,,Acreage,,,Production,
1,Varietal,Year,Bearing,Non-Bearing,Total,Tons,$/Tons,Total Value
2,,2015,569.9,34.3,604.1,"1,357.8","$2,794.59","$3,794,400"
3,Cabernet Franc,2014,571.8,15.8,587.6,"1,913.9","$2,669.35","$5,108,900"
4,Cabernet,2015,"11,808.8","1,014.7","12,823.4","32,947.3","$2,724.17","$89,754,100"
5,Sauvignon,2014,11 689.7,"1,078.2","12,767.9","45,772.0","$2,614.37","$119,665,000"
6,,2015,162.7,0.0,162.7,305.8,"$2,195.62","$671,500"
7,Carignane,2014,178.8,1.0,179.8,478.8,"$1,947.37","$932,500"
8,,2015,146.4,3.7,150.1,567.4,"$2,901.69","$1,646,500"
9,Grenache,2014,119.3,5.2,124.5,701.7,"$2,830.53","$1,986,200"
10,,2015,540.5,12.9,553.4,"1,896.3","$2,636.24","$4,999,200"
11,Malbec,2014,491.0,41.8,532.8,"2,688.9","$2,427.49","$6,527,300"
12,,2015,"4,108.2",43.4,"4,151.6","12,031.4","$1,717.25","$20,661,000"
13,Merlot,2014,"4,308.6",27.7,"4,336.2","16,989.6","$1,651.47","$28,057,900"
14,,2015,645.6,50.4,696.0,"2,347.4","$2,715.79","$6,375,100"
15,Petite Sirah,2014,630.1,55.1,685.2,"2,873.5","$2,548.12","$7,332,100"
16,Petite Verdot,2015,266.2,25.7,292.0,953.4,"$2,719.87","$2,593,200"
17,,2014,250.0,34.2,284.2,"1,251.1","$2,667.28","$3,337,100"
18,Pinot Noir,2015,"12,850.8",750.0,"13,600.7","30,667.2","$3,525,42","$108,114,800"
19,,2014,"12,567.9","1,014.4","13,582.7","47,677.2","$3,251.49","$155,022,000"
20,Sangiovese,2015,211.3,0.0,211.3,929.3,"$2,244.27","$2,085,700"
21,,2014,210.2,0.0,210.3,"1,211.9","$2,352.94","$2,851,600"
22,Syrah-Shiraz,2015,"1,569.8",15.5,"1,585.3","2,848.1",$2.525.16,"$7,192,000"
23,,2014,"1,649.5",9.8,"1,659.3","4,642.6","$2,314.44","$10,745,100"
24,Zinfandel,2015,"4,988.3",85.1,"5,073.4","13,070.9","$2,711.07","$35,436,200"
25,,2014,"5,015.8",112.1,"5,127.9","15,597.2","$2,543.78","$39,675,900"
26,TOTAL REDS,2015,"38,917.8","2,679.1","41,596.9","101,800.1","$2,819.84","$287,060,000"
27,Includes other Reds,2014,"38,775.8","3,037.2","41,813.0","144,021.5","$2,685.05","$386,705,000"

In [239]:
def rename_replace_varietal_column(data):
    new_columns = ['Varietal', 'Year', 'Bearing' , 'Non-Bearing', 'Total', 'Tons', '$/Ton', 'Total Value']
    data = table.rename(columns=dict(zip(table.columns,new_columns)))

    data['Varietal'] = data['Varietal'].replace('Mataro/', 'Mataro/Mouvedere')
    data['Varietal'] = data['Varietal'].replace('Cabernet', 'Cabernet Sauvignon')

    # for 2016 only; ignored when dataset does not contain these strings
    data['Varietal'] = data['Varietal'].replace('Sangiovese/', 'Sangiovese/Sangioveto')

    # added Mourvedere (a), Sangioveto bc of 2016
    data['Varietal'] = data['Varietal'].replace(['', 'including other reds', 'Mouvedere', 'Mourvedere (a)', 'Sauvignon', 'Sangioveto'], np.nan)
    data = data.reset_index(drop=True)

    # duplicate each variable twice because there is empty space after each variable 
    # For example: Zinfandel 2015 2014 to Zinfandel 2015 Zinfandel 2014
    data['Varietal'] = data['Varietal'].dropna().repeat(2).reset_index(drop=True)

    return data

def add_shift_county_color_column(data):
    # add columns to last and pop
    data['County'] = 'Sonoma'
    first_column = data.pop('County')
    data['Grape Color'] = 'Red'
    third_column = data.pop('Grape Color')

    # put county as first column, grape color as 3rd
    data.insert(0, 'County', first_column)
    data.insert(2, 'Grape Color', third_column)
    return data

def fix_incorrect_digits(data, year):
    # if exist a string that has empty space, add a '.' to complete the number
    
    if year == 2016:
        data['Bearing'] = data['Bearing'].str.replace(' .', '.', regex=False)
        data['Bearing'] = data['Bearing'].str.replace('--', '0.0', regex=False)
        data['Non-Bearing'] = data['Non-Bearing'].str.replace(' .', '.', regex=False)
        data['Non-Bearing'] = data['Non-Bearing'].str.replace('--', '0.0', regex=False)

        data['Total'] = data['Total'].str.replace(' .', '.', regex=False)
        data['Total'].str.replace('--', '0.0', regex=False)
        data['$/Ton'].str.replace(' .', '.', regex=False)
        data['Total Value'].str.replace(' ', ',')
    else:
        data['Bearing'] = data['Bearing'].str.replace(' ', '.')
        data['Non-Bearing'] = data['Non-Bearing'].str.replace(' ', '.')
        data['Total'] = data['Total'].str.replace(' ', '.')
        data['Tons'] = data['Tons'].str.replace(' ', '.')
        data['$/Ton'] = data['$/Ton'].str.replace(' ', '.')
        data['Total Value'] = data['Total Value'].str.replace(' ', ',')
    return data

In [240]:
# for <= 2016 we need to do it separately because of formatting 


# this goes up to 2017 files
for table, year in zip(table_list, sonoma_data['Year']):
    # 2021 - 2017 has a pattern where first 3 rows didn't matter
    
    if year >= 2017:
        table.drop([0,1,2], axis=0, inplace=True)

        # rename column names
        data_varietal_replaced = rename_replace_varietal_column(table)
        data_shifted = add_shift_county_color_column(data_varietal_replaced)

        # if exist a string that has empty space, add a '.' to complete the number
        data = fix_incorrect_digits(data_shifted, year)

        print(f'number of row for year {year} table is: {len(data)}')

        display(data)
    elif year <= 2016:
        table.drop([0,1], axis=0, inplace=True)

        # rename column names
        data_varietal_replaced = rename_replace_varietal_column(table)
        data_shifted = add_shift_county_color_column(data_varietal_replaced)

        # if exist a string that has empty space, add a '.' to complete the number
        data = fix_incorrect_digits(data_shifted, year)

        print(f'number of row for year {year} table is: {len(data)}')
        display(data)

number of row for year 2021 table is: 28

,County,Varietal,Grape Color,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
0,Sonoma,Cabernet Franc,Red,2021,552.0,33.0,585.0,"1,150.4","$3,866.85","$4,448,400"
1,Sonoma,Cabernet Franc,Red,2020,557.0,29.0,586.0,942.4,"$3,534.95","$3,331,300"
2,Sonoma,Cabernet Sauvignon,Red,2021,"12,293.0",429.0,"12,722.0","41,114.6","$2,728.69","$112,189,000"
3,Sonoma,Cabernet Sauvignon,Red,2020,"12,089.0",631.0,"12,720.0","31,137.9","$2,460.15","$76,603,900"
4,Sonoma,Carignane,Red,2021,156.0,2.0,158.0,280.7,"$2,633.52","$739,200"
5,Sonoma,Carignane,Red,2020,158.0,6.0,164.0,257.9,"$2,447.30","$631,200"
6,Sonoma,Grenache,Red,2021,211.0,55.0,266.0,898.4,"$3,101.70","$2,786,600"
7,Sonoma,Grenache,Red,2020,203.0,58.0,261.0,751.7,"$2,509.56","$1,886,400"
8,Sonoma,Malbec,Red,2021,422.0,26.0,448.0,"1,577.2","$3,081.97","$4,860,900"
9,Sonoma,Malbec,Red,2020,414.0,16.0,430.0,"1,004.8","$2,643.18","$2,655,900"
10,Sonoma,Mataro/Mouvedere,Red,2021,71.0,11.0,82.0,179.1,"$3,176.28","$568,900"
11,Sonoma,Mataro/Mouvedere,Red,2020,65.0,8.0,73.0,108.3,"$2,874.98","$311,400"
12,Sonoma,Merlot,Red,2021,"4,140.0",17.0,"4,157.0","7,828.5","$1,961.32","$15,354,200"
13,Sonoma,Merlot,Red,2020,"4,175.0",17.0,"4,192.0","5,652.8","$1,589.61","$8,985,700"
14,Sonoma,Petite Sirah,Red,2021,651.0,26.0,677.0,"2,163.9","$2,996.48","$6,484,100"
15,Sonoma,Petite Sirah,Red,2020,641.0,42.0,683.0,"1,622.1","$2,706.91","$4,390,900"
16,Sonoma,Petit Verdot,Red,2021,242.0,6.0,248.0,983.1,"$3,536.74","$3,477,000"
17,Sonoma,Petit Verdot,Red,2020,244.0,7.0,251.0,494.6,"$3,184.33","$1,575,000"
18,Sonoma,Pinot Noir,Red,2021,"12,608.0",265.0,"12,873.0","48,496.5","$3,512.27","$170,332,800"
19,Sonoma,Pinot Noir,Red,2020,"12,516.0",497.0,"13,013.0","29,263.7","$3,146.85","$92,088,500"
20,Sonoma,Sangiovese,Red,2021,278.0,4.0,282.0,879.7,"$2,493.41","$2,193,500"
21,Sonoma,Sangiovese,Red,2020,279.0,4.0,283.0,398.9,"$2,364.77","$943,300"
22,Sonoma,Syrah-Shiraz,Red,2021,"1,326.0",34.0,"1,360.0","2,450.6","$2,871.85","$7,037,800"
23,Sonoma,Syrah-Shiraz,Red,2020,"1,352.0",29.0,"1,381.0","1,581.5","$2,472.14","$3,909,700"
24,Sonoma,Zinfandel,Red,2021,"4,613.0",116.0,"4,729.0","11,660.0","$3,113.73","$36,306,100"
25,Sonoma,Zinfandel,Red,2020,"4,654.0",105.0,"4,759.0","8,397.0","$2,624.37","$22,036,800"
26,Sonoma,TOTAL ALL REDS,Red,2021,"38,128.0","1,056.0","39,184.0","121,693.0","$3,060.13","$372,396,400"
27,Sonoma,TOTAL ALL REDS,Red,2020,"37,916.0","1,493.0","39,409.0","82,910.2","$2,651.92","$219,871,200"

number of row for year 2020 table is: 28

,County,Varietal,Grape Color,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
0,Sonoma,Cabernet Franc,Red,2020,557.0,29.0,586.0,942.4,"$3,534.95","$3,331,300"
1,Sonoma,Cabernet Franc,Red,2019,562.0,13.0,575.0,"1,533.4","$3,815.93","$5,851,300"
2,Sonoma,Cabernet Sauvignon,Red,2020,"12,089.0",631.0,"12,720.0","31,137.9","$2,460.15","$76,603,900"
3,Sonoma,Cabernet Sauvignon,Red,2019,"12,082.0",539.0,"12,621.0","45,948.3","$3,055.93","$140,414,800"
4,Sonoma,Carignane,Red,2020,158.0,6.0,164.0,257.9,"$2,447.30","$631,200"
5,Sonoma,Carignane,Red,2019,170.0,6.0,176.0,416.5,"$2,591.56","$1,079,400"
6,Sonoma,Grenache,Red,2020,203.0,58.0,261.0,751.7,"$2,509.56","$1,886,400"
7,Sonoma,Grenache,Red,2019,183.0,43.0,226.0,806.1,"$3,203.49","$2,582,300"
8,Sonoma,Malbec,Red,2020,414.0,16.0,430.0,"1,004.8","$2,643.18","$2,655,900"
9,Sonoma,Malbec,Red,2019,416.0,22.0,438.0,"1,863.0","$3,041.79","$5,666,900"
10,Sonoma,Mataro/Mouvedere,Red,2020,65.0,8.0,73.0,108.3,"$2,874.98","$311,400"
11,Sonoma,Mataro/Mouvedere,Red,2019,63.0,10.0,73.0,182.8,"$3,455.43","$631,700"
12,Sonoma,Merlot,Red,2020,"4,175.0",17.0,"4,192.0","5,652.8","$1,589.61","$8,985,700"
13,Sonoma,Merlot,Red,2019,"4,346.0",47.0,"4,393.0","12,312.3","$2,000.15","$24,626,400"
14,Sonoma,Petite Sirah,Red,2020,641.0,42.0,683.0,"1,622.1","$2,706.91","$4,390,900"
15,Sonoma,Petite Sirah,Red,2019,635.0,21.0,656.0,"2,628.3","$3,154.98","$8,300,000"
16,Sonoma,Petit Verdot,Red,2020,244.0,7.0,251.0,494.6,"$3,184.33","$1,575,000"
17,Sonoma,Petit Verdot,Red,2019,249.0,4.0,253.0,"1,025.0","$3,403.84","$3,500,000"
18,Sonoma,Pinot Noir,Red,2020,"12,516.0",497.0,"13,013.0","29,263.7","$3,146.85","$92,088,500"
19,Sonoma,Pinot Noir,Red,2019,"12,509.0",585.0,"13,094.0","47,178.3","$3,949.20","$186,316,500"
20,Sonoma,Sangiovese,Red,2020,279.0,4.0,283.0,398.9,"$2,364.77","$943,300"
21,Sonoma,Sangiovese,Red,2019,279.0,1.0,283.0,993.4,"$2,576.02","$2,559,000"
22,Sonoma,Syrah-Shiraz,Red,2020,"1,352.0",29.0,"1,381.0","1,581.5","$2,472.14","$3,909,700"
23,Sonoma,Syrah-Shiraz,Red,2019,"1,396.0",12.0,"1,408.0","3,334.3","$2,811.92","$9,400,000"
24,Sonoma,Zinfandel,Red,2020,"4,654.0",105.0,"4,759.0","8,397.0","$2,624.37","$22,036,800"
25,Sonoma,Zinfandel,Red,2019,"4,758.0",50.0,"4,808.0","14,817.7","$3,143.05","$46,572,800"
26,Sonoma,TOTAL ALL REDS,Red,2020,"37,916.0","1,493.0","39,409.0","82,910.2","$2,651.92","$219,871,200"
27,Sonoma,TOTAL ALL REDS,Red,2019,"38,212.0","1,404.0","39,616.0","135,051.7","$3,254.92","$439,582,500"

number of row for year 2019 table is: 28

,County,Varietal,Grape Color,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
0,Sonoma,Cabernet Franc,Red,2019,562.0,13.0,575.0,"1,533.4","$3,815.93","$5,851,300"
1,Sonoma,Cabernet Franc,Red,2018,565.0,10.6,575.6,"1,832.6","$3,567.17","$6,537,200"
2,Sonoma,Cabernet Sauvignon,Red,2019,"12,082.0",539.0,"12,621.0","45,948.3","$3,055.93","$140,414,800"
3,Sonoma,Cabernet Sauvignon,Red,2018,"12,505.1",642.3,"13,147.4","56,948.2","$3,113.75","$177,322,500"
4,Sonoma,Carignane,Red,2019,170.0,6.0,176.0,416.5,"$2,591.56","$1,079,400"
5,Sonoma,Carignane,Red,2018,162.7,9.7,172.4,406.9,"$2,654.55","$1,080,100"
6,Sonoma,Grenache,Red,2019,183.0,43.0,226.0,806.1,"$3,203.49","$2,582,300"
7,Sonoma,Grenache,Red,2018,150.2,12.1,162.3,929.0,"$3,025.64","$2,810,800"
8,Sonoma,Malbec,Red,2019,416.0,22.0,438.0,"1,863.0","$3,041.79","$5,666,900"
9,Sonoma,Malbec,Red,2018,536.0,9.3,545.3,"2,695.1","$2,894.42","$7,800,800"
10,Sonoma,Mataro/Mouvedere,Red,2019,63.0,10.0,73.0,182.8,"$3,455.43","$631,700"
11,Sonoma,Mataro/Mouvedere,Red,2018,40.6,0.9,41.5,216.4,"$3,236.82","$700,400"
12,Sonoma,Merlot,Red,2019,"4,346.0",47.0,"4,393.0","12,312.3","$2,000.15","$24,626,400"
13,Sonoma,Merlot,Red,2018,"3,940.8",10.2,"3,951.0","15,492.0","$1,961.96","$30,394,700"
14,Sonoma,Petite Sirah,Red,2019,635.0,21.0,656.0,"2,628.3","$3,154.98","$8,300,000"
15,Sonoma,Petite Sirah,Red,2018,685.3,2.0,687.3,"2,954.5","$3,088.27","$9,124,300"
16,Sonoma,Petit Verdot,Red,2019,249.0,4.0,253.0,"1,025.0","$3,403.84","$3,500,000"
17,Sonoma,Petit Verdot,Red,2018,284.3,18.6,302.9,"1,324.8","$3,336.84","$4,420,600"
18,Sonoma,Pinot Noir,Red,2019,"12,509.0",585.0,"13,094.0","47,178.3","$3,949.20","$186,316,500"
19,Sonoma,Pinot Noir,Red,2018,"13,383.6",880.0,"14,263.6","58,005.2","$3,802.05","$220,538,700"
20,Sonoma,Sangiovese,Red,2019,279.0,1.0,280.0,993.4,"$2,576.02","$2,559,000"
21,Sonoma,Sangiovese,Red,2018,211.4,0.0,211.4,"1,070.2","$2,477.26","$2,651,200"
22,Sonoma,Syrah-Shiraz,Red,2019,"1,396.0",12.0,"1,408.0","3,334.3","$2,811.92","$9,400,000"
23,Sonoma,Syrah-Shiraz,Red,2018,"1,557.8",3.7,"1,561.5","3,966.9","$2,773.75","$11,003,200"
24,Sonoma,Zinfandel,Red,2019,"4,758.0",50.0,"4,808.0","14,817.7","$3,143.05","$46,572,800"
25,Sonoma,Zinfandel,Red,2018,"4,946.6",24.4,"4,971.0","15,730.6","$3,102.26","$48,800,400"
26,Sonoma,TOTAL ALL REDS,Red,2019,"38,212.0","1,404.0","39,616.0","135,051.7","$3,254.92","$439,582,500"
27,Sonoma,TOTAL ALL REDS,Red,2018,"39,842.0","1,956.4","41,798.4","163,575.2","$3,227.84","$527,994,600"

number of row for year 2018 table is: 28

,County,Varietal,Grape Color,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
0,Sonoma,Cabernet Franc,Red,2018,565.0,10.6,575.6,"1,832.6","$3,567.17","$6,537,200"
1,Sonoma,Cabernet Franc,Red,2017,565.0,35.6,600.6,"1,382.4","$3,335.31","$4,610,700"
2,Sonoma,Cabernet Sauvignon,Red,2018,"12,505.1",642.3,"13,147.4","56,948.2","$3,113.75","$177,322,500"
3,Sonoma,Cabernet Sauvignon,Red,2017,"12,530.9",530.4,"13,061.3","43,157.9","$3,071.98","$132,580,200"
4,Sonoma,Carignane,Red,2018,162.7,9.7,172.4,406.9,"$2,654.55","$1,080,100"
5,Sonoma,Carignane,Red,2017,162.7,0.0,162.7,260.4,"$2,665.76","$694,200"
6,Sonoma,Grenache,Red,2018,150.2,12.1,162.3,929.0,"$3,025.64","$2,810,800"
7,Sonoma,Grenache,Red,2017,153.8,8.0,161.8,854.7,"$3,076.99","$2,630,000"
8,Sonoma,Malbec,Red,2018,536.0,9.3,545.3,"2,695.1","$2,894.42","$7,800,800"
9,Sonoma,Malbec,Red,2017,536.0,11.3,548.3,"1,700.8","$2,953.95","$5,024,100"
10,Sonoma,Mataro/Mouvedere,Red,2018,40.6,0.9,41.5,216.4,"$3,236.82","$700,400"
11,Sonoma,Mataro/Mouvedere,Red,2017,41.6,0.9,42.5,158.2,"$2,895.20","$458,000"
12,Sonoma,Merlot,Red,2018,"3,940.8",10.2,"3,951.0","15,492.0","$1,961.96","$30,394,700"
13,Sonoma,Merlot,Red,2017,"3,978.8",22.6,"4,001.4","11,611.1","$1,922.95","$22,327,400"
14,Sonoma,Petite Sirah,Red,2018,685.3,2.0,687.3,"2,954.5","$3,088.27","$9,124,300"
15,Sonoma,Petite Sirah,Red,2017,688.8,4.2,693.0,"2,536.3","$2,905.75","$7,370,000"
16,Sonoma,Petit Verdot,Red,2018,284.3,18.6,302.9,"1,324.8","$3,336.84","$4,420,600"
17,Sonoma,Petit Verdot,Red,2017,284.3,9.9,294.2,915.6,"$3,156.58","$2,890,200"
18,Sonoma,Pinot Noir,Red,2018,"13,383.6",880.0,"14,263.6","58,005.2","$3,802.05","$220,538,700"
19,Sonoma,Pinot Noir,Red,2017,"13,414.3",423.8,"13,838.1","43,439.1","$3,912.46","$169,953,700"
20,Sonoma,Sangiovese,Red,2018,211.4,0.0,211.4,"1,070.2","$2,477.26","$2,651,200"
21,Sonoma,Sangiovese,Red,2017,316.5,0.0,316.5,916.8,"$2,400.63","$2,200,900"
22,Sonoma,Syrah-Shiraz,Red,2018,"1,557.8",3.7,"1,561.5","3,966.9","$2,773.75","$11,003,200"
23,Sonoma,Syrah-Shiraz,Red,2017,"1,571.7",8.5,"1,580.2","3,216.5","$2,779.67","$8,940,800"
24,Sonoma,Zinfandel,Red,2018,"4,946.6",24.4,"4,971.0","15,730.6","$3,102.26","$48,800,400"
25,Sonoma,Zinfandel,Red,2017,"4,976.9",16.9,"4,993.9","12,874.5","$3,006.42","$38,706,200"
26,Sonoma,TOTAL ALL REDS,Red,2018,"39,842.0","1,956.4","41,798.4","163,575.2","$3,227.84","$527,994,600"
27,Sonoma,TOTAL ALL REDS,Red,2017,"39,996.5","1,658.8","41,655.3","124,787.5","$3,219.57","$401,762,100"

number of row for year 2017 table is: 28

,County,Varietal,Grape Color,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
0,Sonoma,Cabernet Franc,Red,2017,565.0,35.6,600.6,"1,382.4","$3,335.31","$4,610,700"
1,Sonoma,Cabernet Franc,Red,2016,578.5,28.5,607.0,"1,382.5","$2,955.14","$4,085,500"
2,Sonoma,Cabernet Sauvignon,Red,2017,"12,530.9",530.4,"13,061.3","43,157.9","$3,071.98","$132,580,200"
3,Sonoma,Cabernet Sauvignon,Red,2016,"12,456.7",560.0,"13,016.7","41,575.7","$2,964.60","$123,255,300"
4,Sonoma,Carignane,Red,2017,162.7,0.0,162.7,260.4,"$2,665.76","$694,200"
5,Sonoma,Carignane,Red,2016,162.7,0.0,162.7,305.8,"$2,195.62","$671,500"
6,Sonoma,Grenache,Red,2017,153.8,8.0,161.8,854.7,"$3,076.99","$2,630,000"
7,Sonoma,Grenache,Red,2016,152.7,3.6,156.3,739.7,"$2,995.16","$2,215,500"
8,Sonoma,Malbec,Red,2017,536.0,11.3,548.3,"1,700.8","$2,953.95","$5,024,100"
9,Sonoma,Malbec,Red,2016,551.5,4.7,556.2,"2,960.5","$2,629.78","$7,785,500"
10,Sonoma,Mataro/Mouvedere,Red,2017,41.6,0.9,42.5,158.2,"$2,895.20","$458,000"
11,Sonoma,Mataro/Mouvedere,Red,2016,41.6,0.9,42.5,771.5,"$2,119.36","$1,635,100"
12,Sonoma,Merlot,Red,2017,"3,978.8",22.6,"4,001.4","11,611.1","$1,922.95","$22,327,400"
13,Sonoma,Merlot,Red,2016,"4,115.7",24.6,"4,140.3","13,761.0","$1,818.10","$25,018,900"
14,Sonoma,Petite Sirah,Red,2017,688.8,4.2,693.0,"2,536.3","$2,905.75","$7,370,000"
15,Sonoma,Petite Sirah,Red,2016,694.5,4.2,698.7,"3,266.3","$2,797.89","$9,138,700"
16,Sonoma,Petit Verdot,Red,2017,284.3,9.9,294.2,915.6,"$3,156.58","$2,890,200"
17,Sonoma,Petit Verdot,Red,2016,278.3,16.5,294.8,"1,332.0","$2,976.71","$3,965,000"
18,Sonoma,Pinot Noir,Red,2017,"13,414.3",423.8,"13,838.1","43,439.1","$3,912.46","$169,953,700"
19,Sonoma,Pinot Noir,Red,2016,"13,343.1",385.2,"13,728.3","42,566.3","$3,680.50","$156,665,300"
20,Sonoma,Sangiovese,Red,2017,316.5,0.0,316.6,916.8,"$2,400.63","$2,200,900"
21,Sonoma,Sangiovese,Red,2016,316.9,0.0,316.9,"1,091.1","$2,314.48","$2,525,300"
22,Sonoma,Syrah-Shiraz,Red,2017,"1,571.7",8.5,"1,580.2","3,216.5","$2,779.67","$8,940,800"
23,Sonoma,Syrah-Shiraz,Red,2016,"1,575.6",13.5,"1,589.1","3,618.1","$2,596.01","$9,392,600"
24,Sonoma,Zinfandel,Red,2017,"4,976.9",16.9,"4,993.9","12,874.5","$3,006.42","$38,706,200"
25,Sonoma,Zinfandel,Red,2016,"5,070.5",20.0,"5,090.5","15,287.7","$2,840.06","$43,418,000"
26,Sonoma,TOTAL ALL REDS,Red,2017,"39,996.5","1,658.8","41,655.3","124,787.5","$3,219.57","$401,762,100"
27,Sonoma,TOTAL ALL REDS,Red,2016,"39,821.4","1,342.0","41,163.5","130,589.3","$3,008.75","$392,910,600"

number of row for year 2016 table is: 26

,County,Varietal,Grape Color,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
0,Sonoma,Pinot Noir,Red,2016,385.2,"13,343.1","13,728.3","42,566.3","$3,680.50","$156,665,300"
1,Sonoma,Pinot Noir,Red,2015,750.0,"12,850.8","13,600.8","30,667 .2","$3,525 .42","$108,114,800"
2,Sonoma,Cabernet Sauvignon,Red,2016,560.0,"12,456.7","13,016.7","41,575.7","$2,964.60","$123,255,300"
3,Sonoma,Cabernet Sauvignon,Red,2015,"1,014.7","11,808.8","12,823.5","32,947 .3","$2,724 .17","$89,754,100"
4,Sonoma,Zinfandel,Red,2016,20.0,"5,070.5","5,090.5","15,287.7","$2,840.06","$43,418,000"
5,Sonoma,Zinfandel,Red,2015,85.1,"4,988.3","5,073.4","13,070 .9","$2,711 .07","$35,436,200"
6,Sonoma,Merlot,Red,2016,24.6,"4,115.7","4,140.3","13,761.0","$1,818.10","$25,018,900"
7,Sonoma,Merlot,Red,2015,43.4,"4,108.2","4,151.6","12,031 .4","$1,717 .25","$20,661,000"
8,Sonoma,Syrah - Shiraz,Red,2016,13.5,"1,575.6","1,589.1","3,618.1","$2,596.01","$9,392,600"
9,Sonoma,Syrah - Shiraz,Red,2015,15.5,"1,569.8","1,585.3","2,848 .1","$2,525 .16","$7,192,000"
10,Sonoma,Petite Sirah,Red,2016,4.2,694.5,698.7,"3,266.3","$2,797.89","$9,138,700"
11,Sonoma,Petite Sirah,Red,2015,50.4,645.6,696.0,"2,347 .4","$2,715 .79","$6,375,100"
12,Sonoma,Malbec,Red,2016,4.7,551.5,556.2,"2,960.5","$2,629.78","$7,785,500"
13,Sonoma,Malbec,Red,2015,12.9,540.5,553.4,"1,896 .3","$2,636 .24","$4,999,200"
14,Sonoma,Cabernet Franc,Red,2016,28.5,578.5,607.0,"1,382.5","$2,955.14","$4,085,500"
15,Sonoma,Cabernet Franc,Red,2015,34.3,569.9,604.2,"1,357 .8","$2,794 .59","$3,794,400"
16,Sonoma,Petit Verdot,Red,2016,16.5,278.3,294.8,"1,332.0","$2,976.71","$3,965,000"
17,Sonoma,Petit Verdot,Red,2015,25.7,266.2,291.9,953 .4,"$2,719 .87","$2,593,200"
18,Sonoma,Sangiovese/Sangioveto,Red,2016,0.0,316.9,316.9,"1,091.1","$2,314.48","$2,525,300"
19,Sonoma,Sangiovese/Sangioveto,Red,2015,0.0,211.3,211.3,929 .3,"$2,244 .27","$2,085,700"
20,Sonoma,Grenache,Red,2016,3.6,152.7,156.3,739.7,"$2,995.16","$2,215,500"
21,Sonoma,Grenache,Red,2015,3.7,146.4,150.1,567 .4,"$2,901 .69","$1,646,500"
22,Sonoma,Mataro/Mouvedere,Red,2016,0.9,41.6,42.5,771.5,"$2,119.36","$1,635,100"
23,Sonoma,Mataro/Mouvedere,Red,2015,0.0,0.0,--,149 .7,"$3,082 .19","$461,400"
24,Sonoma,TOTAL REDS,Red,2016,"1,342.0","39,821.4","41,163.5","130,589.3","$3,008.75","$392,910,600"
25,Sonoma,TOTAL REDS,Red,2015,"2,679.1","38,917.8","41,596.9","101,800 .1","$2,819 .84","$287,060,000"

number of row for year 2015 table is: 26

,County,Varietal,Grape Color,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
0,Sonoma,Cabernet Franc,Red,2015,569.9,34.3,604.1,"1,357.8","$2,794.59","$3,794,400"
1,Sonoma,Cabernet Franc,Red,2014,571.8,15.8,587.6,"1,913.9","$2,669.35","$5,108,900"
2,Sonoma,Cabernet Sauvignon,Red,2015,"11,808.8","1,014.7","12,823.4","32,947.3","$2,724.17","$89,754,100"
3,Sonoma,Cabernet Sauvignon,Red,2014,11.689.7,"1,078.2","12,767.9","45,772.0","$2,614.37","$119,665,000"
4,Sonoma,Carignane,Red,2015,162.7,0.0,162.7,305.8,"$2,195.62","$671,500"
5,Sonoma,Carignane,Red,2014,178.8,1.0,179.8,478.8,"$1,947.37","$932,500"
6,Sonoma,Grenache,Red,2015,146.4,3.7,150.1,567.4,"$2,901.69","$1,646,500"
7,Sonoma,Grenache,Red,2014,119.3,5.2,124.5,701.7,"$2,830.53","$1,986,200"
8,Sonoma,Malbec,Red,2015,540.5,12.9,553.4,"1,896.3","$2,636.24","$4,999,200"
9,Sonoma,Malbec,Red,2014,491.0,41.8,532.8,"2,688.9","$2,427.49","$6,527,300"
10,Sonoma,Merlot,Red,2015,"4,108.2",43.4,"4,151.6","12,031.4","$1,717.25","$20,661,000"
11,Sonoma,Merlot,Red,2014,"4,308.6",27.7,"4,336.2","16,989.6","$1,651.47","$28,057,900"
12,Sonoma,Petite Sirah,Red,2015,645.6,50.4,696.0,"2,347.4","$2,715.79","$6,375,100"
13,Sonoma,Petite Sirah,Red,2014,630.1,55.1,685.2,"2,873.5","$2,548.12","$7,332,100"
14,Sonoma,Petite Verdot,Red,2015,266.2,25.7,292.0,953.4,"$2,719.87","$2,593,200"
15,Sonoma,Petite Verdot,Red,2014,250.0,34.2,284.2,"1,251.1","$2,667.28","$3,337,100"
16,Sonoma,Pinot Noir,Red,2015,"12,850.8",750.0,"13,600.7","30,667.2","$3,525,42","$108,114,800"
17,Sonoma,Pinot Noir,Red,2014,"12,567.9","1,014.4","13,582.7","47,677.2","$3,251.49","$155,022,000"
18,Sonoma,Sangiovese,Red,2015,211.3,0.0,211.3,929.3,"$2,244.27","$2,085,700"
19,Sonoma,Sangiovese,Red,2014,210.2,0.0,210.3,"1,211.9","$2,352.94","$2,851,600"
20,Sonoma,Syrah-Shiraz,Red,2015,"1,569.8",15.5,"1,585.3","2,848.1",$2.525.16,"$7,192,000"
21,Sonoma,Syrah-Shiraz,Red,2014,"1,649.5",9.8,"1,659.3","4,642.6","$2,314.44","$10,745,100"
22,Sonoma,Zinfandel,Red,2015,"4,988.3",85.1,"5,073.4","13,070.9","$2,711.07","$35,436,200"
23,Sonoma,Zinfandel,Red,2014,"5,015.8",112.1,"5,127.9","15,597.2","$2,543.78","$39,675,900"
24,Sonoma,TOTAL REDS,Red,2015,"38,917.8","2,679.1","41,596.9","101,800.1","$2,819.84","$287,060,000"
25,Sonoma,TOTAL REDS,Red,2014,"38,775.8","3,037.2","41,813.0","144,021.5","$2,685.05","$386,705,000"

In [35]:
urls[0]

'https://sonomacounty.ca.gov//Main%20County%20Site/Natural%20Resources/Agricultural%2C%20Weights%20%26%20Measures/Documents/Crop%20Reports/2021-Sonoma-County-Crop-Report.pdf'

In [194]:
# utilize camelot to read pdf file at page 12, capture precisely with stream and close up the row gap with row_tol = 10
tables = camelot.read_pdf(urls[6], pages='12', flavor='stream', row_tol=10)
data = tables[0].df
dat = tables[0].parsing_report
dat

{'accuracy': 99.81, 'whitespace': 7.59, 'order': 1, 'page': 12}

In [195]:
data

,0,1,2,3,4,5,6,7
0,,,,Acreage,,,Production,
1,Varietal,Year,Bearing,Non-Bearing,Total,Tons,$/Tons,Total Value
2,,2015,569.9,34.3,604.1,"1,357.8","$2,794.59","$3,794,400"
3,Cabernet Franc,2014,571.8,15.8,587.6,"1,913.9","$2,669.35","$5,108,900"
4,Cabernet,2015,"11,808.8","1,014.7","12,823.4","32,947.3","$2,724.17","$89,754,100"
5,Sauvignon,2014,11 689.7,"1,078.2","12,767.9","45,772.0","$2,614.37","$119,665,000"
6,,2015,162.7,0.0,162.7,305.8,"$2,195.62","$671,500"
7,Carignane,2014,178.8,1.0,179.8,478.8,"$1,947.37","$932,500"
8,,2015,146.4,3.7,150.1,567.4,"$2,901.69","$1,646,500"
9,Grenache,2014,119.3,5.2,124.5,701.7,"$2,830.53","$1,986,200"
10,,2015,540.5,12.9,553.4,"1,896.3","$2,636.24","$4,999,200"
11,Malbec,2014,491.0,41.8,532.8,"2,688.9","$2,427.49","$6,527,300"
12,,2015,"4,108.2",43.4,"4,151.6","12,031.4","$1,717.25","$20,661,000"
13,Merlot,2014,"4,308.6",27.7,"4,336.2","16,989.6","$1,651.47","$28,057,900"
14,,2015,645.6,50.4,696.0,"2,347.4","$2,715.79","$6,375,100"
15,Petite Sirah,2014,630.1,55.1,685.2,"2,873.5","$2,548.12","$7,332,100"
16,Petite Verdot,2015,266.2,25.7,292.0,953.4,"$2,719.87","$2,593,200"
17,,2014,250.0,34.2,284.2,"1,251.1","$2,667.28","$3,337,100"
18,Pinot Noir,2015,"12,850.8",750.0,"13,600.7","30,667.2","$3,525,42","$108,114,800"
19,,2014,"12,567.9","1,014.4","13,582.7","47,677.2","$3,251.49","$155,022,000"
20,Sangiovese,2015,211.3,0.0,211.3,929.3,"$2,244.27","$2,085,700"
21,,2014,210.2,0.0,210.3,"1,211.9","$2,352.94","$2,851,600"
22,Syrah-Shiraz,2015,"1,569.8",15.5,"1,585.3","2,848.1",$2.525.16,"$7,192,000"
23,,2014,"1,649.5",9.8,"1,659.3","4,642.6","$2,314.44","$10,745,100"
24,Zinfandel,2015,"4,988.3",85.1,"5,073.4","13,070.9","$2,711.07","$35,436,200"
25,,2014,"5,015.8",112.1,"5,127.9","15,597.2","$2,543.78","$39,675,900"
26,TOTAL REDS,2015,"38,917.8","2,679.1","41,596.9","101,800.1","$2,819.84","$287,060,000"
27,Includes other Reds,2014,"38,775.8","3,037.2","41,813.0","144,021.5","$2,685.05","$386,705,000"

In [196]:
# drop rows that is not helpful
data = data.drop([0,1], axis=0)

In [197]:
data

,0,1,2,3,4,5,6,7
2,,2015,569.9,34.3,604.1,"1,357.8","$2,794.59","$3,794,400"
3,Cabernet Franc,2014,571.8,15.8,587.6,"1,913.9","$2,669.35","$5,108,900"
4,Cabernet,2015,"11,808.8","1,014.7","12,823.4","32,947.3","$2,724.17","$89,754,100"
5,Sauvignon,2014,11 689.7,"1,078.2","12,767.9","45,772.0","$2,614.37","$119,665,000"
6,,2015,162.7,0.0,162.7,305.8,"$2,195.62","$671,500"
7,Carignane,2014,178.8,1.0,179.8,478.8,"$1,947.37","$932,500"
8,,2015,146.4,3.7,150.1,567.4,"$2,901.69","$1,646,500"
9,Grenache,2014,119.3,5.2,124.5,701.7,"$2,830.53","$1,986,200"
10,,2015,540.5,12.9,553.4,"1,896.3","$2,636.24","$4,999,200"
11,Malbec,2014,491.0,41.8,532.8,"2,688.9","$2,427.49","$6,527,300"
12,,2015,"4,108.2",43.4,"4,151.6","12,031.4","$1,717.25","$20,661,000"
13,Merlot,2014,"4,308.6",27.7,"4,336.2","16,989.6","$1,651.47","$28,057,900"
14,,2015,645.6,50.4,696.0,"2,347.4","$2,715.79","$6,375,100"
15,Petite Sirah,2014,630.1,55.1,685.2,"2,873.5","$2,548.12","$7,332,100"
16,Petite Verdot,2015,266.2,25.7,292.0,953.4,"$2,719.87","$2,593,200"
17,,2014,250.0,34.2,284.2,"1,251.1","$2,667.28","$3,337,100"
18,Pinot Noir,2015,"12,850.8",750.0,"13,600.7","30,667.2","$3,525,42","$108,114,800"
19,,2014,"12,567.9","1,014.4","13,582.7","47,677.2","$3,251.49","$155,022,000"
20,Sangiovese,2015,211.3,0.0,211.3,929.3,"$2,244.27","$2,085,700"
21,,2014,210.2,0.0,210.3,"1,211.9","$2,352.94","$2,851,600"
22,Syrah-Shiraz,2015,"1,569.8",15.5,"1,585.3","2,848.1",$2.525.16,"$7,192,000"
23,,2014,"1,649.5",9.8,"1,659.3","4,642.6","$2,314.44","$10,745,100"
24,Zinfandel,2015,"4,988.3",85.1,"5,073.4","13,070.9","$2,711.07","$35,436,200"
25,,2014,"5,015.8",112.1,"5,127.9","15,597.2","$2,543.78","$39,675,900"
26,TOTAL REDS,2015,"38,917.8","2,679.1","41,596.9","101,800.1","$2,819.84","$287,060,000"
27,Includes other Reds,2014,"38,775.8","3,037.2","41,813.0","144,021.5","$2,685.05","$386,705,000"

In [199]:
# rename my columns
new_columns = ['Varietal', 'Year', 'Bearing' , 'Non-Bearing', 'Total', 'Tons', '$/Ton', 'Total Value']
data = data.rename(columns=dict(zip(data.columns,new_columns)))
data

,Varietal,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
2,,2015,569.9,34.3,604.1,"1,357.8","$2,794.59","$3,794,400"
3,Cabernet Franc,2014,571.8,15.8,587.6,"1,913.9","$2,669.35","$5,108,900"
4,Cabernet,2015,"11,808.8","1,014.7","12,823.4","32,947.3","$2,724.17","$89,754,100"
5,Sauvignon,2014,11 689.7,"1,078.2","12,767.9","45,772.0","$2,614.37","$119,665,000"
6,,2015,162.7,0.0,162.7,305.8,"$2,195.62","$671,500"
7,Carignane,2014,178.8,1.0,179.8,478.8,"$1,947.37","$932,500"
8,,2015,146.4,3.7,150.1,567.4,"$2,901.69","$1,646,500"
9,Grenache,2014,119.3,5.2,124.5,701.7,"$2,830.53","$1,986,200"
10,,2015,540.5,12.9,553.4,"1,896.3","$2,636.24","$4,999,200"
11,Malbec,2014,491.0,41.8,532.8,"2,688.9","$2,427.49","$6,527,300"
12,,2015,"4,108.2",43.4,"4,151.6","12,031.4","$1,717.25","$20,661,000"
13,Merlot,2014,"4,308.6",27.7,"4,336.2","16,989.6","$1,651.47","$28,057,900"
14,,2015,645.6,50.4,696.0,"2,347.4","$2,715.79","$6,375,100"
15,Petite Sirah,2014,630.1,55.1,685.2,"2,873.5","$2,548.12","$7,332,100"
16,Petite Verdot,2015,266.2,25.7,292.0,953.4,"$2,719.87","$2,593,200"
17,,2014,250.0,34.2,284.2,"1,251.1","$2,667.28","$3,337,100"
18,Pinot Noir,2015,"12,850.8",750.0,"13,600.7","30,667.2","$3,525,42","$108,114,800"
19,,2014,"12,567.9","1,014.4","13,582.7","47,677.2","$3,251.49","$155,022,000"
20,Sangiovese,2015,211.3,0.0,211.3,929.3,"$2,244.27","$2,085,700"
21,,2014,210.2,0.0,210.3,"1,211.9","$2,352.94","$2,851,600"
22,Syrah-Shiraz,2015,"1,569.8",15.5,"1,585.3","2,848.1",$2.525.16,"$7,192,000"
23,,2014,"1,649.5",9.8,"1,659.3","4,642.6","$2,314.44","$10,745,100"
24,Zinfandel,2015,"4,988.3",85.1,"5,073.4","13,070.9","$2,711.07","$35,436,200"
25,,2014,"5,015.8",112.1,"5,127.9","15,597.2","$2,543.78","$39,675,900"
26,TOTAL REDS,2015,"38,917.8","2,679.1","41,596.9","101,800.1","$2,819.84","$287,060,000"
27,Includes other Reds,2014,"38,775.8","3,037.2","41,813.0","144,021.5","$2,685.05","$386,705,000"

In [200]:
data['Varietal'].unique()

array(['', 'Cabernet Franc', 'Cabernet', 'Sauvignon', 'Carignane',
       'Grenache', 'Malbec', 'Merlot', 'Petite Sirah', 'Petite Verdot',
       'Pinot Noir', 'Sangiovese', 'Syrah-Shiraz', 'Zinfandel',
       'TOTAL REDS', 'Includes other Reds'], dtype=object)

In [184]:
# data.loc[data['Varietal'].str.contains('Cabernet'), 'Varietal'] = 'Cabernet Sauvignon'
# data.loc[data['Varietal'].str.contains('Sangiovese/'), 'Varietal'] = 'Sangiovese/Sangioveto'

In [185]:
# data['Varietal'].str.contains('Sangiovese/')

In [201]:
data['Varietal'] = data['Varietal'].replace('Mataro/', 'Mataro/Mouvedere')
data['Varietal'] = data['Varietal'].replace('Cabernet', 'Cabernet Sauvignon')

# for 2016 only 
data['Varietal'] = data['Varietal'].replace('Sangiovese/', 'Sangiovese/Sangioveto')


data['Varietal'] = data['Varietal'].replace(['', 'including other reds', 'Mouvedere', 'Mourvedere (a)', 'Sauvignon', 'Sangioveto'], np.nan)
data = data.reset_index(drop=True)

data['Varietal'].unique()

array([nan, 'Cabernet Franc', 'Cabernet Sauvignon', 'Carignane',
       'Grenache', 'Malbec', 'Merlot', 'Petite Sirah', 'Petite Verdot',
       'Pinot Noir', 'Sangiovese', 'Syrah-Shiraz', 'Zinfandel',
       'TOTAL REDS', 'Includes other Reds'], dtype=object)

In [202]:
data['Varietal'] = data['Varietal'].dropna().repeat(2).reset_index(drop=True)
data['County'] = 'Sonoma'

In [203]:
first_column = data.pop('County')
data['Grape Color'] = 'Red'
third_column = data.pop('Grape Color')
data.insert(0, 'County', first_column)
data.insert(2, 'Grape Color', third_column)
data

,County,Varietal,Grape Color,Year,Bearing,Non-Bearing,Total,Tons,$/Ton,Total Value
0,Sonoma,Cabernet Franc,Red,2015,569.9,34.3,604.1,"1,357.8","$2,794.59","$3,794,400"
1,Sonoma,Cabernet Franc,Red,2014,571.8,15.8,587.6,"1,913.9","$2,669.35","$5,108,900"
2,Sonoma,Cabernet Sauvignon,Red,2015,"11,808.8","1,014.7","12,823.4","32,947.3","$2,724.17","$89,754,100"
3,Sonoma,Cabernet Sauvignon,Red,2014,11 689.7,"1,078.2","12,767.9","45,772.0","$2,614.37","$119,665,000"
4,Sonoma,Carignane,Red,2015,162.7,0.0,162.7,305.8,"$2,195.62","$671,500"
5,Sonoma,Carignane,Red,2014,178.8,1.0,179.8,478.8,"$1,947.37","$932,500"
6,Sonoma,Grenache,Red,2015,146.4,3.7,150.1,567.4,"$2,901.69","$1,646,500"
7,Sonoma,Grenache,Red,2014,119.3,5.2,124.5,701.7,"$2,830.53","$1,986,200"
8,Sonoma,Malbec,Red,2015,540.5,12.9,553.4,"1,896.3","$2,636.24","$4,999,200"
9,Sonoma,Malbec,Red,2014,491.0,41.8,532.8,"2,688.9","$2,427.49","$6,527,300"
10,Sonoma,Merlot,Red,2015,"4,108.2",43.4,"4,151.6","12,031.4","$1,717.25","$20,661,000"
11,Sonoma,Merlot,Red,2014,"4,308.6",27.7,"4,336.2","16,989.6","$1,651.47","$28,057,900"
12,Sonoma,Petite Sirah,Red,2015,645.6,50.4,696.0,"2,347.4","$2,715.79","$6,375,100"
13,Sonoma,Petite Sirah,Red,2014,630.1,55.1,685.2,"2,873.5","$2,548.12","$7,332,100"
14,Sonoma,Petite Verdot,Red,2015,266.2,25.7,292.0,953.4,"$2,719.87","$2,593,200"
15,Sonoma,Petite Verdot,Red,2014,250.0,34.2,284.2,"1,251.1","$2,667.28","$3,337,100"
16,Sonoma,Pinot Noir,Red,2015,"12,850.8",750.0,"13,600.7","30,667.2","$3,525,42","$108,114,800"
17,Sonoma,Pinot Noir,Red,2014,"12,567.9","1,014.4","13,582.7","47,677.2","$3,251.49","$155,022,000"
18,Sonoma,Sangiovese,Red,2015,211.3,0.0,211.3,929.3,"$2,244.27","$2,085,700"
19,Sonoma,Sangiovese,Red,2014,210.2,0.0,210.3,"1,211.9","$2,352.94","$2,851,600"
20,Sonoma,Syrah-Shiraz,Red,2015,"1,569.8",15.5,"1,585.3","2,848.1",$2.525.16,"$7,192,000"
21,Sonoma,Syrah-Shiraz,Red,2014,"1,649.5",9.8,"1,659.3","4,642.6","$2,314.44","$10,745,100"
22,Sonoma,Zinfandel,Red,2015,"4,988.3",85.1,"5,073.4","13,070.9","$2,711.07","$35,436,200"
23,Sonoma,Zinfandel,Red,2014,"5,015.8",112.1,"5,127.9","15,597.2","$2,543.78","$39,675,900"
24,Sonoma,TOTAL REDS,Red,2015,"38,917.8","2,679.1","41,596.9","101,800.1","$2,819.84","$287,060,000"
25,Sonoma,TOTAL REDS,Red,2014,"38,775.8","3,037.2","41,813.0","144,021.5","$2,685.05","$386,705,000"

In [190]:
# for 2016 only 

data['Bearing'].str.replace(' .', '.', regex=False)
data['Bearing'].str.replace('--', '0.0', regex=False)
data['Non-Bearing'].str.replace(' .', '.', regex=False)
data['Non-Bearing'].str.replace('--', '0.0', regex=False)

data['Total'].str.replace(' .', '.', regex=False)
data['Total'].str.replace('--', '0.0', regex=False)
data['$/Ton'].str.replace(' .', '.', regex=False)
data['Total Value'].str.replace(' ', ',')

0     $156,665,300
1     $108,114,800
2     $123,255,300
3      $89,754,100
4      $43,418,000
5      $35,436,200
6      $25,018,900
7      $20,661,000
8       $9,392,600
9       $7,192,000
10      $9,138,700
11      $6,375,100
12      $7,785,500
13      $4,999,200
14      $4,085,500
15      $3,794,400
16      $3,965,000
17      $2,593,200
18      $2,525,300
19      $2,085,700
20      $2,215,500
21      $1,646,500
22      $1,635,100
23        $461,400
24    $392,910,600
25    $287,060,000
Name: Total Value, dtype: object

In [45]:
len(data)

28

In [46]:
data.to_csv('example.csv', index=False, encoding='utf-8')

In [156]:
# data['Varietal'] = data['Varietal'].replace('', method='ffill')
# data